@use "sass:map";
@use "sass:math";
@import "node_modules/bootstrap/scss/bootstrap";

$palettes: (
  base: (
    "black": #000,
    "white": #fff,
    "transparent": transparent
  ),
  grey: (
    1: #222,
    2: #444,
    3: #666,
    4: #888,
    5: #AAA,
    6: #CCC,
    7: #EEE
  ),
  brand: (
    "gold": #e4c172,
    "aqua": #9AD5CA,
    "blue": #468fea,
    "purple": #A833B9,
    "black": #131B23,
    "blood": #5E0B15,
    "red": #D16361,
    "green": #5B8E7D
  ),
  gold: (
    0: #a16611,
    1: #b18345,
    2: #c69e56,
    3: #d1ac5f,
    4: #dcb96d,
    5: #e4c172,
    6: #eece75,
    7: #f7e090,
    8: #ede9b5
  ),
  bng: (
    "blue": #201e5c, //#26235e
    "gold": #f7d116,
    "l-blue": #A5A3E1,
    "l-gold": #FDF3C4,
    "m-blue": #4B4799,
    "m-gold": #FAE475,
    "d-blue": #100F2E,
    "d-gold": #625104,
  ),
  rainbow: (
    "red":#f72116,
    "orange":#f78f16,
    "yellow":#f7d316,
    "green":#589c2b,
    "blue":#4646a2,
    "purple":#6c1a86
  ),
  skule: (
    "black": #0a0a0a,
    "white": #FFF,
    "blue": #59a1c6,
    "gold": #ffec8e,
    "purple": #8372bb,
    "green": #68ba98,
    "teal": #5da7a7,
    "orange": #ffcf8e,
    "red": #ff8e8e
  )
);
@function p($palette: brand,$tone) {
  @return map-get(map-get($palettes, $palette), $tone);
}

@function t($color: black,$amount: 0.2) {
  @return transparentize($color, $amount);
}

@each $color, $val in map-get($palettes, brand) {
  .bg-#{$color} {
    background-color: $val;
  }
  .text-#{$color} {
    color: $val;
  }
  .border-#{$color} {
    border-color: $val !important;
  }
}

@each $color, $val in map-get($palettes, gold) {
  .bg-gold-#{$color} {
    background-color: $val;
  }
  .text-gold-#{$color} {
    color: $val;
  }
  .border-gold-#{$color} {
    border-color: $val !important;
  }
}
@each $color, $val in map-get($palettes, "bng") {
  .bg-bng-#{$color} {
    background-color: $val;
  }
  .text-bng-#{$color} {
    color: $val;
  }
  .border-bng-#{$color} {
    border-color: $val !important;
  }
}

@each $size in "xx-small", "x-small", "smaller", "small", "medium", "large", "larger", "x-large", "xx-large" {
  .font-size-#{$size} {
    font-size: #{$size} !important;
  }
}

* {
  font-family: Lato, sans-serif;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
}

body {
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;

  & > div.container-fluid:first-of-type {
    flex: 1 0 auto;
  }
}

.footer {
  flex-shrink: 0;
}

.nav-link {
  color: white;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  font-size: large;
  @extend .px-2;

  &:hover {
    background-color: white;
    color: p(brand,"blue");
  }
}

.index {
  //min-height: 300vh;
  overflow-x: hidden;
  & h1 {
    font-size: 7rem;
    font-weight: bolder;
  }

  & h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 1rem;
  }
}

nav, .footer {
  background-color: t(white,0.9);
}
.nav-item {
  @extend .mx-1;
}

.gw-landing {
  margin-top: 30vh;
  margin-left: 3rem;
  height: 100vh;
}
.gw-landing-link {
  color: unset !important;
  transition: color 0.25s ease-in-out;
}

object {
  &.logo-main {
    z-index: -1;
    position: absolute;
    top: 50%;
    animation: gw-chill 10s ease infinite;
    will-change: transform;
    backface-visibility: hidden;

    @include media-breakpoint-only(xl) {
      height: 60vh;
      left: 70%;
    }
    @include media-breakpoint-only(lg) {
      height: 50vh;
      left: 80%;
    }
    @include media-breakpoint-only(md) {
      height: 35vh;
      left: 80%;
    }
    @include media-breakpoint-down(sm) {
      display:none;
    }
  }

  &.logo-minor {
    z-index: -2;
    position: absolute;
    height: 23vh;
    top: 50%;
    left: 70%;
    will-change: transform;
    backface-visibility: hidden;

    &.logo-spades {
      animation: spades 20s linear infinite;
    }
    &.logo-hearts {
      animation: hearts 20s linear infinite;
    }
    &.logo-clubs {
      animation: clubs 20s linear infinite;
    }
    &.logo-diamonds {
      animation: diamonds 20s linear infinite;
    }
  }
}
.seven-stars-container {
  padding-top: 15vh;
}
.seven-stars {
  height: 90vh;
  position:absolute;
}
.seven-stars-container {
  & span {
    font-size: medium;
    display:block;
  }
}
.stars-1 {
  top: 166px;
  left: 90px;
}
.stars-2 {
  top: 225px;
  left: 200px;
}
.stars-3 {
  top: 385px;
  left: 190px;
}
.stars-4 {
  top: 520px;
  left: 96px;
}
.stars-5 {
  top: 615px;
  left: 180px;
}
.stars-6 {
  top: 785px;
  left: 165px;
}
.stars-7 {
  top: 905px;
  left: 105px;
}
@keyframes gw-chill {
  0% {
    transform: translate3d(-50%,-50%,0) rotate(-3deg);
  }
  50% {
    transform: translate3d(-50%,-50%,0) rotate(3deg);
  }
  100% {
    transform: translate3d(-50%,-50%,0) rotate(-3deg);
  }
}
@mixin rotato($x: 0, $y: 0) {
    0% {
      //transform: translate(-50%,-50%) rotate(0) translate(#{$x - 70}vw,#{$y - 50}vh) rotate(0);
      transform: translate(-50%,-50%) rotate(-3deg) translate3d(#{$x - 70}vw,#{$y - 50}vh,0);
    }
    50% {
      transform: translate(-50%,-50%) rotate(3deg) translate3d(#{$x - 70}vw,#{$y - 50}vh,0);
    }
    100% {
      transform: translate(-50%,-50%) rotate(-3deg) translate3d(#{$x - 70}vw,#{$y - 50}vh,0);
    }
}
@keyframes spades {
  @include rotato(57,22);
}
@keyframes hearts {
  @include rotato(90,23);
}
@keyframes clubs {
  @include rotato(87,68);
}
@keyframes diamonds {
  @include rotato(50,74);
}

.bg-index {
  background: linear-gradient(
      p(brand,"blue"),
      p(brand,"blue") 30%,
      p(brand,"purple") 45%,
      p(brand,"purple") 50%,
      p(bng,"blue") 85%,
      p(brand,"black") 95%,
      p(brand,"black") 100%
  );
}
.bg-body {
  background: url("logos/stars.png") repeat-y;
  padding-bottom: 40vh;
}

@keyframes gold-sliding {
  0% {
    background-position: 100%
  }
  100% {
    background-position: 0
  }
}

.section-about {
  @include media-breakpoint-up(md) {
    padding-top: 20vh;
  }
}

.btn {
  display: inline-block;
  -webkit-appearance: none;

  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: large;
  min-width: 6em;
  @include media-breakpoint-down(sm) {
    &, & ~ .dropdown-menu {
      width: 100%;
      margin: 0.5em 0 !important;
    }
  }

  &-gold {
    @extend .text-gold-5;
    border: 2px solid p(gold,5);
    background-color: p(brand,"blue") !important;

    &:hover {
      border: 2px solid p(gold,5);
      color: p(brand, "blue") !important;
      background-color: p(gold,5) !important;
    }

    &.disabled {
      background-color: p(grey, 2) !important;
      border: 2px solid p(grey, 2) !important;
      color: p(grey, 3) !important;
    }
  }
}

.bg-socials {
  background: linear-gradient(p(bng,"blue") 0%,p(brand,"black") 100%);
  &::before {
    content: "";
    background-image: url("logos/stars.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }
}

a.no-text-effects {
  text-decoration: none;
  color:p(base,"white");
  transition: all 0.5s ease-in-out;
  &:hover {
    opacity:0.8;
  }
}


.vh-65 {
  height:60vh;
}
